extends base

block vars
    - var mainClass = 'hide';

block css
    link(rel='stylesheet', href='/css/app.css')

block content
    div.app
        div.extensions(id='extensions')
            div.center
                input(id='extension-add',
                      type='button',
                      value=' >> Add external extension << ')
            div.center
                a(href='https://github.com/nko4/sophilabs/blob/master/static/js/macgifer/extensions/meme.js') Check out this example
        div.camera
            div.rec-button(id='rec-button')
            canvas(id='canvas', width='240', height='180')
            div.url
                input(type='text', id='gif-link', value='Wait...')
                input(type='button', id='twitter-link', value='Wait...')
            img(src='/img/twitter.gif')
            iframe(src='http://nodeknockout.com/iframe/sophilabs',
                   frameborder='0',
                   scrolling='no'
                   allowtransparency='true'
                   width='115'
                   height='25')

block js
    script(src='/vendor/soundmanager2/js/soundmanager2.js')
    script(src='/js/common.js')
    script(src='/js/macgifer/intro.js')
    script(src='/js/macgifer/adapter.js')
    script(src='/js/macgifer/connection.js')
    script(src='/js/macgifer/app.js')
    script(src='/js/macgifer/extensions/common.js')
    script(src='/js/macgifer/extensions/meme.js')
    script(src='/js/macgifer/extensions/clock.js')

